force-app/main/default/flows/CriacaoOrdem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AtribuiQuantidade</name>
        <label>Atribui Quantidade</label>
        <locationX>1349</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>QuantidadeFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FQuantidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VLRValorTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrecoFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TPreco</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarteiraSe</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CarteiraSelecionada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiTotal</name>
        <label>Atribui Total</label>
        <locationX>1369</locationX>
        <locationY>4</locationY>
        <assignmentItems>
            <assignToReference>TotalFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FValorTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantidadeFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VLRQuantidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrecoFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QPreco</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarteiraSe</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CarteiraSelecionada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmacao</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Compra</name>
        <choiceText>Compra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compra</stringValue>
        </value>
    </choices>
    <choices>
        <description>Quantidade</description>
        <name>Quantidade</name>
        <choiceText>Quantidade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quantidade</stringValue>
        </value>
    </choices>
    <choices>
        <description>Valor Total</description>
        <name>VAlorTotal</name>
        <choiceText>Valor Total</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Valor Total</stringValue>
        </value>
    </choices>
    <choices>
        <description>Venda</description>
        <name>Venda</name>
        <choiceText>Venda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Venda</stringValue>
        </value>
    </choices>
    <decisions>
        <name>QuantidadeOuTotal</name>
        <label>Quantidade Ou Total</label>
        <locationX>865</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>TelaValorTotal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Total</defaultConnectorLabel>
        <rules>
            <name>IFQuantidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpcaaOperacao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quantidade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaQuantidade</targetReference>
            </connector>
            <label>Quantidade</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CarteiraSelecionada</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Carteira__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpcoesMercado</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Mercado__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FQuantidade</name>
        <dataType>Number</dataType>
        <expression>{!VLRValorTotal} / {!TPreco}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>FTipoRegistro</name>
        <dataType>String</dataType>
        <expression>IF({!Tipo} == &apos;Compra&apos;,&apos;0125e000000cqN7AAI&apos;, &apos;0125e000000cqNHAAY&apos;)</expression>
    </formulas>
    <formulas>
        <name>FValorTotal</name>
        <dataType>Number</dataType>
        <expression>{!QPreco}*{!VLRQuantidade}</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>Criação de Ordem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criação de Ordem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriaOrdem</name>
        <label>Cria Ordem</label>
        <locationX>1705</locationX>
        <locationY>122</locationY>
        <inputAssignments>
            <field>Carteira__c</field>
            <value>
                <elementReference>CarteiraSe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DataCriacao__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado__c</field>
            <value>
                <elementReference>MercadoFluxo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preco__c</field>
            <value>
                <elementReference>PrecoFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>QuantidadeFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FTipoRegistro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aguardando</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <elementReference>Tipo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total__c</field>
            <value>
                <elementReference>TotalFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Ordem__c</object>
    </recordCreates>
    <screens>
        <name>Confirmacao</name>
        <label>Confirmação</label>
        <locationX>1553</locationX>
        <locationY>122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CriaOrdem</targetReference>
        </connector>
        <fields>
            <name>TextoConfirmacao</name>
            <fieldText>&lt;p&gt;Confira os dados antes de concluir a Ordem:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Tipo: &lt;/b&gt;{!Tipo}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Carteira: &lt;/b&gt;{!CarteiraSelecionada}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Mercado: &lt;/b&gt;{!MercadoFluxo}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Preço: &lt;/b&gt;{!PrecoFinal}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantidade: &lt;/b&gt;{!QuantidadeFinal}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Valor Total:  &lt;/b&gt;{!TotalFinal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mercado</name>
        <label>Mercado</label>
        <locationX>424</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelecaoOpcaoOperacao</targetReference>
        </connector>
        <fields>
            <name>Texto</name>
            <fieldText>&lt;p&gt;Selecione o Mercado para realizar a operação.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MercadoFluxo</name>
            <choiceReferences>OpcoesMercado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mercado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Texto2</name>
            <fieldText>&lt;p&gt;Selecione a Carteira que será usada para a operação.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Carteira</name>
            <choiceReferences>CarteiraSelecionada</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Carteira</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Texto3</name>
            <fieldText>&lt;p&gt;Selecione se a operação é do tipo Compra ou Venda de Ativos &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo</name>
            <choiceReferences>Compra</choiceReferences>
            <choiceReferences>Venda</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelecaoOpcaoOperacao</name>
        <label>Seleção de Opção de Operação</label>
        <locationX>617</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuantidadeOuTotal</targetReference>
        </connector>
        <fields>
            <name>TextoExibicaoCompra</name>
            <fieldText>&lt;p&gt;Selecione se deseja realizar a operação baseada no valor total a ser trabalhado na operação, ou pela quantidade do ativo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpcaaOperacao</name>
            <choiceReferences>VAlorTotal</choiceReferences>
            <choiceReferences>Quantidade</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opção de operação</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaQuantidade</name>
        <label>Tela Quantidade</label>
        <locationX>1147</locationX>
        <locationY>3</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AtribuiTotal</targetReference>
        </connector>
        <fields>
            <name>Texto4</name>
            <fieldText>&lt;p&gt;Digite a quantidade de ativos para Compra ou Venda&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VLRQuantidade</name>
            <dataType>Number</dataType>
            <fieldText>Quantidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Texto5</name>
            <fieldText>&lt;p&gt;Digite o preço do ativo. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QPreco</name>
            <dataType>Number</dataType>
            <fieldText>Preço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TelaValorTotal</name>
        <label>Tela Valor Total</label>
        <locationX>1144</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AtribuiQuantidade</targetReference>
        </connector>
        <fields>
            <name>Texto6</name>
            <fieldText>&lt;p&gt;Digite o valor total a ser gasto na Compra ou Venda do Ativo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VLRValorTotal</name>
            <dataType>Number</dataType>
            <fieldText>Valor Total</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>Texto7</name>
            <fieldText>&lt;p&gt;Digite o preço do Ativo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TPreco</name>
            <dataType>Number</dataType>
            <fieldText>Preço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Mercado</startElementReference>
    <status>Active</status>
    <variables>
        <name>CarteiraSe</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrecoFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>QuantidadeFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>TotalFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
</Flow>
