force-app/main/default/flows/Fluxo_Transacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Atibui_ID_Ativo</name>
        <label>Atibui ID Ativo</label>
        <locationX>603</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>IDNovoAtivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExisteAtivoCarteira.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IncluiuTransacao</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Decisão se existe ativo</description>
        <name>DecisaoExisteAtivo</name>
        <label>Decisao Existe Ativo?</label>
        <locationX>600</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Atibui_ID_Ativo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existe ativo</defaultConnectorLabel>
        <rules>
            <name>IFExisteAtivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisteAtivoCarteira.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarAtivo</targetReference>
            </connector>
            <label>Não Existe Ativo</label>
        </rules>
    </decisions>
    <interviewLabel>Fluxo Transacao {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluxo Transacao</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CriarAtivo</name>
        <label>Criar Ativo</label>
        <locationX>832</locationX>
        <locationY>133</locationY>
        <assignRecordIdToReference>IDNovoAtivo</assignRecordIdToReference>
        <connector>
            <targetReference>IncluiuTransacao</targetReference>
        </connector>
        <inputAssignments>
            <field>Carteira__c</field>
            <value>
                <elementReference>$Record.Carteira__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.MoedaPrimaria__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ativo_da_Carteira__c</object>
    </recordCreates>
    <recordCreates>
        <name>IncluiuTransacao</name>
        <label>Incluiu Transação</label>
        <locationX>832</locationX>
        <locationY>379</locationY>
        <inputAssignments>
            <field>AtivoDaCarteira__c</field>
            <value>
                <elementReference>IDNovoAtivo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carteira__c</field>
            <value>
                <elementReference>$Record.Carteira__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ordem__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>$Record.Quantidade__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transacao__c</object>
    </recordCreates>
    <recordLookups>
        <name>ExisteAtivoCarteira</name>
        <label>Existe ativo na Carteira</label>
        <locationX>451</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DecisaoExisteAtivo</targetReference>
        </connector>
        <filters>
            <field>Carteira__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Carteira__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MoedaPrimaria__c</elementReference>
            </value>
        </filters>
        <object>Ativo_da_Carteira__c</object>
    </recordLookups>
    <startElementReference>ExisteAtivoCarteira</startElementReference>
    <status>Draft</status>
    <variables>
        <name>IDNovoAtivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
